<style>
.ORANGE {
    color: orange;
}
</style>
<link href="css/index.css" type="text/css" rel="stylesheet"></link>    
<ion-view>
        <div class="row">
            <div class="col col-33">
                Externa  
            </div>
            <div class="col col-33">
                Data  
            </div>
            <div class="col col-33">
                Programa  
            </div>
        </div>
        <div class="row ORANGE">
            <div class="col col-33">
                22345  
            </div>
            <div class="col col-33">
                25/08/2016  
            </div>
            <div class="col col-33 ">
                Velho chico
            </div>
        </div> 
        <div class="row">
            Local
        </div>
        <div class="row">
            <div class="col ORANGE">
                <small>R. Jose dos Reis, 425 - Engenho de Dentro</small>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a class="button button-energized BORDER-ROUND" href="#/mapa" >Ver Mapa</a>
            </div>
        </div>
        <ion-list>
            <ion-item class="item-icon-left item-icon-right positive"  href="#/horarios" > <!--ng-click="goHorarios()"-->
                <i class="icon ion-ios-clock-outline"></i>
                HORÁRIOS
                <i class="icon ion-ios-arrow-right" ></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right positive">
                <i class="icon ion-model-s"></i>
                VEÍCULOS
                <i class="icon ion-ios-arrow-right" ></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right positive ">
                <i class="icon ion-android-add-circle"></i>
                DEMAIS
                <i class="icon ion-ios-arrow-right" ></i>
            </ion-item>
        </ion-list>
        
</ion-view>