<ion-view>
    <ion-nav-bar class="bar-subheader bar-stable">
        <ion-nav-back-button>Voltar
        </ion-nav-back-button>
</ion-nav-bar>
    
<link href="css/index.css" type="text/css" rel="stylesheet"></link> 
 <ion-content class="has-subheader">

        <div class="row row-top">
            <div class="col">
                <small>Tipo de ocorrência</small>
            </div>
            <div class="col">
                <small>Plano de Ação</small>
            </div>
        </div>
        <div class="row row-bottom">
            <div class="col ">                
                <select>
                    <option selected>Acidente 1</option>
                    <option>Acidente 2</option>
                    <option>Acidente 3</option>
                    <option>Incêndio</option>
                    <option >Sequestro</option>
                </select>
            </div>
            <div class="col ">                
                <select>
                    <option selected>Ação 1</option>
                    <option>Ação 2</option>
                </select>
            </div>
        </div>
        <center>
            <p><b>Relato</b></p>
            <textarea rows=5  class="TEXT-AREA"></textarea>
        
        <div class="button BUTTON-LARGER ion-camera ">
            </div>
        <div class="button BUTTON-LARGER ion-images ">            
            </div>
            <div class="button BUTTON-LARGER ion-location ">            
            </div>
        </center>
        <div class="button CENTER-BUTTON button-energized">
            REGISTRAR OCORRÊNCIA
            </div>    
    </ion-content>
</ion-view>