<ion-view>
    <ion-content>
        <ion-list>
            <ion-item class="item ">
                
                <div class= "card card-stable">
                    <div class="row">
                        <div class="col col-20">
                            <img ng-src="img/guy1.png">
                        </div>
                        <div class="col">
                            <div class="positive">João da Silva</div> 
                            <p class="dark"><small>Evento ocorrido às 09:30</small></p>
                        </div>
                    </div>
                    <p>Reporto o ínicio das gravações</p>
                </div>
            </ion-item>
            <ion-item class="item ">
                <div class= "card card-stable">
                    <div class="row">
                        <div class="col col-20">
                            <img ng-src="img/guy2.png">
                        </div>
                        <div class="col">
                            <div class="positive">Carlos Puyol</div>
                            <p><small>Marcou perímetro às 09:40</small></p>
                        </div>
                    </div>
                    <img style="min-width:100%" ng-src="img/map-shot.png" />
                </div>
            </ion-item>
        </ion-list>
    </ion-content> 
</ion-view>