<ion-view view-title="Adicionar Produto">
    <ion-nav-bar class="bar-royal">
        <ion-nav-back-button>
        </ion-nav-back-button>


        <ion-nav-buttons side="right ">
            <div class="buttons">
                <button class="button button-icon ion-android-search" ng-click="showFilterBar()"></button>
            </div>            
        </ion-nav-buttons>
    </ion-nav-bar>

    
    <!-- Pesquisa 
    <div class="bar bar-subheader bar-stable item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search">
        </label>
        <button class="button button-clear">
            Buscar
        </button>
    </div><!-- Fim Pesquisa -->

    <!---SE TIRAR O PADDING A BARRA DE PESQUISA SOBE E FICA OCULTADA PELO HEADER, MELHOR SOLUÇÃO QUE ENCONTREI : Pedro -->
    <ion-content class="content ">
        <ion-list ng-show="showClass">
            <ion-item href="#/app/addProductsClass/{{tipoProdutos.id}}" ng-repeat="tipoProdutos in classes">
                <div class="row">
                    <div class="col col-20 col-center icon {{tipoProdutos.img}} IMAGE-MEDIUM">
                        <!-- <img ng-src="{{tipoProdutos.img}}" class="itemImage"> -->
                        
                    </div>
                    <div class="col col-70 col-center title" >
                        {{tipoProdutos.tipo}} 
                    </div>
                    
                </div>
            </ion-item>
        </ion-list>

        <ion-list ng-hide="showClass">
            <ion-item   ng-repeat="produto in products" 
                        ng-click="showPopup(produto, myProducts, classes, produto.tipoId, $index)"
                        ng-hide="{{produto.possui}}">
                <div class="row" >
                    <div class="col-25 col-center">
                        <img ng-src="{{produto.img}}" class="itemImage" alt="Img">
                    </div>
                    <div class="col-75 col-center title" >
                        {{produto.nome}}
                    </div>
                </div>
            </ion-item>    
        </ion-list>

        
    </ion-content>
</ion-view>
