
<ion-view view-title="Termos de Uso">

    <!-- Navbar (Override default) -->
    <ion-nav-bar class="bar-royal">
        <ion-nav-buttons side="left">
            <button class="button button-icon icon ion-navicon" menu-toggle></button>
        </ion-nav-buttons>
    </ion-nav-bar><!-- End Navbar -->
    <!-- Content -->
    <ion-content>
        <div class="has-subheader">
            <div class="ESPACO_EXTRA"></div>
            <h2 class="CABECALHO">Termos de Uso</h2>
            <article class="MARGEM_GERAL">
                <br />
                <h5>
                  O cadastramento e/ou acesso no aplicativo Convem®, pertencentes a Convem Serviços Qualificados EIRELI ME, inscrita sob o CNPJ 24.245.354/0001-64, doravante denominada “Convem”, pressupõe a compreensão de todas as condições, direitos e deveres a seguir transcritos, e implica, para o doravante denominado “Vendedor”, a aceitação total e irrestrita do presente Termo de Uso.<br/>
                  O objeto do presente Termo de Uso é a regulamentação da relação entre o Vendedor e a Convem, incluindo a descrição e as condições de uso dos serviços oferecidos, os direitos e deveres das partes e as limitações de garantias e de responsabilidades.<br/>

                </h5>
                <br />
                <p class="TITULO_ITEM">1. Políticas Gerais</p>
                <p>
                  1.1. As atividades desenvolvidas pela Convem são pautadas pela ética e pela conformidade com o ordenamento jurídico vigente.<br/>
                  1.2. A Convem não utilizará de forma indevida qualquer informação coletada, prezando sempre pela intimidade e segurança desta. Maiores informações sobre a Política de Privacidade da Convem podem ser conferidas na área específica.<br/>
                  1.3. O serviço prestado pela Convem consiste em um mecanismo de intermediação entre o Vendedor e seu cliente, sendo de inteira responsabilidade do Vendedor o cumprimento de todo o serviço demandado pelos clientes através da utilização da plataforma.<br/>

                </p>
                <br />
                <p class="TITULO_ITEM">2. Condições de Uso
</p>
                <p>
                  2.1. Para ter acesso ao aplicativo Convem, o Vendedor deverá baixar o aplicativo para o seu telefone celular, desde que o aparelho seja compatível com as plataformas móveis que a Convem disponibiliza.<br/>
                  2.2. A navegação no aplicativo da Convem pressupõe uma conexão com a internet e cadastro do posicionamento do estabelecimento no aplicativo (GPS). Os custos para utilização da internet são de exclusiva responsabilidade do Vendedor, e a Convem não se responsabiliza por qualquer falha de comunicação e/ou do aparelho celular.<br/>
                  2.3. A Convem tem a preocupação de manter seu aplicativo sempre atualizado e em funcionamento 24 (vinte e quatro) horas por dia, 7 (sete) dias por semana. Por esse motivo, podem ocorrer momentos de atualizações do aplicativo, em decorrência de eventuais manutenções ou, até mesmo, pela ocorrência de fatos não previstos pela Convem, o que significa que eventuais interrupções, suspensões ou encerramentos nos serviços prestados ficam a exclusivo critério da Convem, nada podendo ser reivindicado pelo Vendedor.<br/>
                  2.4. O Vendedor cadastrado na Convem receberá notificações do tipo “PUSH” pelo aplicativo da Convem instalado em seu smartphone, mesmo que não esteja com o aplicativo aberto, sobre atualizações disponíveis e solicitações de compra.<br/>
                  2.5. O download do aplicativo implica a aceitação pelo Vendedor do recebimento de informações da Convem com a finalidade de orientar, esclarecer ou informar sobre conteúdos que a Convem entenda serem pertinentes ou relevantes.<br/>

                </p>
                <br />
                <p class="TITULO_ITEM">3. Descrição dos serviços</p>
                <p>
                  3.1. A Convem presta serviços de intermediação entre serviços de conveniência e seus clientes, respeitando os preços praticados pelos estabelecimentos Vendedores. É de responsabilidade do Vendedor manter a disponibilidade de produtos e os preços atualizados na plataforma, ficando a Convem isenta de qualquer responsabilidade sobre tais atualizações.<br/>
                  3.2. A Convem oferecerá os produtos do Vendedor ao cliente interessado, considerando uma ponderação ótima entre preço praticado pelo Vendedor, localização do Vendedor e disponibilidade do Vendedor em atender à totalidade da demanda, além de utilizar também critérios de avaliação do Vendedor realizados pelos clientes.<br/>
                  3.3. O Vendedor receberá pedidos de compra através do aplicativo da Convem e é de sua responsabilidade aceitar ou recusar tal solicitação no próprio aplicativo, de acordo com sua disponibilidade de atendimento.<br/>
                  3.4. Uma vez que a solicitação seja aceita pelo Vendedor, é de responsabilidade do Vendedor realizar a entrega dos produtos solicitados no prazo estipulado pela Convem. A Convem se reserva o direito de retirar o acesso do Vendedor ao aplicativo caso sua taxa de entregas no prazo esteja abaixo de 90%.<br/>
                  3.5. Ao final da transação, o cliente avaliará o serviço prestado pelo Vendedor no aplicativo da Convem. A Convem se reserva o direito de retirar o acesso do Vendedor ao aplicativo caso sua avaliação pelos clientes seja inferior a 75%.<br/>

                </p>
                <br />
                <p class="TITULO_ITEM">4. Cadastro</p>
                <p>
                  4.1. A utilização dos serviços fornecidos pela Convem pressupõe a existência de um cadastro válido.<br/>
                  4.2. Para o cadastro ser válido, o Vendedor deverá ser legalmente capaz de demonstrar a validade das informações prestadas à Convem durante o cadastramento.<br/>
                  4.3. A Convem dará o suporte necessário ao cadastro inicial dos produtos oferecidos e respectivos preços. No entanto, é de inteira responsabilidade do Vendedor manter o cadastro de produtos e preços atualizado.<br/>

                </p>
                <br />
                <p class="TITULO_ITEM">5. Liquidação das vendas</p>
                <p>
                  5.1. Todos os pagamentos serão realizados no próprio aplicativo da Convém pelo cliente via cartão de crédito.<br/>
                  5.2. A Convem irá cobrar uma taxa de transação do Vendedor, que será subtraída do valor final da transação, quando da sua liquidação. Tal taxa será previamente acordada com o Vendedor e pode ser acessada na Carta de Aceite de Contrato.<br/>
                  5.3. É de responsabilidade da Convem transferir o valor do pagamento dos produtos em questão para o Vendedor em D+31, ou seja, em até 31 dias corridos após a efetivação da transação, subtraída a taxa de transação previamente acordada entre as partes.<br/>
                  5.3. É de responsabilidade do Vendedor manter os dados da conta corrente onde deseja receber a liquidação das transações atualizados. Qualquer mudança em tais dados devem ser avisadas à Convem com 72 horas de antecedência através dos canais de contato fornecidos pela Convem.<br/>
                </p>
                <br />
                <p class="TITULO_ITEM">6. Licença e Limitações de Uso</p>
                <p>
                  6.1. Por meio deste Termo, a Convem concede ao Vendedor licença não exclusiva, intransferível e limitada para a utilização do aplicativo Convem, para o fim específico de entrega de produtos solictados pelos clientes através do aplicativo.<br/>
                  6.2. Todo o material publicado no site ou no aplicativo da Convem é protegido por direitos autorais e é de propriedade exclusiva da Convem e de seus anunciantes, ficando expressamente proibido ao Vendedor:<br/>
                  a) modificar, copiar, distribuir, transmitir, exibir, reproduzir, publicar, transferir, emprestar, alugar ou vender qualquer tipo de informação, software, produto ou serviço fornecidos pela Convem;<br/>
                  b) criar obras derivadas a partir das informações coletadas junto à Convem;<br/>
                  c) utilizar, de qualquer forma, técnicas de engenharia reversa para desenvolvimento ou criação de outros trabalhos com base na Convem;<br/>
                  d) divulgar conteúdo ou arquivos sem autorização;<br/>
                  e) liberar acesso a terceiros de forma ilícita.<br/>
                </p>
                <br />
                <p class="TITULO_ITEM">7. Isenção de Responsabilidade e de Garantias</p>
                <p>
                  7.1. O aplicativo Convem foi desenvolvido sob os mais rígidos padrões de qualidade e segurança e é distribuído de forma gratuita ao Vendedor e ao cliente, de forma que a Convem se exime de qualquer tipo de responsabilidade por eventuais problemas em sua execução ou por qualquer tipo de falha gerada no celular do Usuário em decorrência do uso do aplicativo.<br/>
                  7.2. O Vendedor é responsável pelos dados que informar e tem plena ciência de que deverá utilizar os serviços fornecidos de forma condizente com este Termo de Uso.<br/>
                  7.3. A Convem não se responsabiliza pela disponibilidade de produtos e pelos preços ofertados pelo Vendedor no aplicativo.<br/>
                  7.4. A Convem não se responsabiliza pelo uso indevido de informações de clientes disponibilizadas, para quaisquer que sejam os fins, sendo de responsabilidade do Vendedor as consequências cíveis e criminais de tal uso.<br/>
                  7.5. Eventuais publicações ou informações prestadas por terceiros no aplicativo da Convem, com ou sem autorização, são de exclusiva responsabilidade do terceiro que as publicar. Da mesma forma, as informações prestadas por terceiros sobre a Convem, em qualquer que seja o meio de comunicação, não são de responsabilidade da Convem.<br/>
                  7.6. Em nenhuma circunstância, a Convem, seus diretores ou seus funcionários serão responsáveis por quaisquer perdas, despesas ou danos diretos ou indiretos, especiais, incidentais ou de consequência, oriundos do mau funcionamento do aplicativo, ou com relação a qualquer falha de desempenho, erro, omissão, interrupção, defeito na inserção de informação, mesmo que a Convem ou seus representantes estejam avisados da possibilidade de tais perdas, despesas ou danos.<br/>

                </p>
                <br />
                <p class="TITULO_ITEM">8. Disposições Finais</p>
                <p>
                  8.1. O presente Termo de Uso é regido e interpretado em conformidade com as leis do Brasil.<br/>
                  8.2. Fica eleito o Foro Central da Comarca do Rio de Janeiro para dirimir quaisquer controvérsias acerca do presente Termo de Uso que não puderem ser solucionadas de forma extrajudicial, com a exclusão de qualquer outro Foro, por mais privilegiado que possa ser.<br/>
                </p>
            </article>
        </div>
    </ion-content><!-- End Content -->
</ion-view>
