
<ion-view view-title="Contato">

    <!-- Navbar (Override default) -->
    <ion-nav-bar class="bar-royal">
        <ion-nav-buttons side="left">
            <button class="button button-icon icon ion-navicon" menu-toggle></button>
        </ion-nav-buttons>
    </ion-nav-bar><!-- End Navbar -->
    <!-- Content -->
    <ion-content>

        <div class="text-left MARGEM_CONTATO">
            <h4 class="AZUL_CONTATO">Dúvidas? Sugestoes? Reclamações?</h4>
        </div>
        <div class="text-center">
            <h4>Entre em contato conosco</h4>
        </div>
        <div class="ESPACO_EXTRA_CONTATO">
        </div>
        <div class="text-center">
            <h4><a href="http://www.convem.me" class="NO-DECORATION">site: convem.me</a></h4>
            <h4>tel: +55(21)98801-1221</h4>
            <h4>e-mail: sac@convem.me</h4>
        </div>



    </ion-content><!-- End Content -->
</ion-view>
