<ion-view view-title="Inbox">
  <ion-content>

    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="msg in inbox" type="item-text-wrap" href="#/app/inbox/{{msg.id}}">
        <img ng-src="{{msg.img}}">

        <h3>{{msg.name}}</h3>
            <p>{{msg.lastText}}</p>
            <span class="icon ion-chevron-right icon-accessory"></span>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
      --> {{"text"}}
  </ion-content>
</ion-view>
