<ion-view view-title="Convem">
    <link href="./css/addCartao.css" rel="stylesheet" />
    <ion-nav-bar class="bar-stable">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>

    <div class="bar bar-subheader bar-stable">
        <h1 class="title"> Adicionar Cartão</h1>
    </div>

    <!-- Content -->
    <ion-content class="has-subheader">
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Nome Completo</span>
                <input type="text" placeholder="João Silva">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Número do Cartão</span>
                <input type="text">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Data de Expiração</span>
                <input type="text">
            </label>
        </div>
        <div class="row">
            <p>Escolha de bandeira</p>
        </div>
    </ion-content><!-- End Content -->

    <ion-footer-bar class="ION_FOOTER_HEIGHT">
        <button class="button button-block button-positive BOTAO_HEIGHT"><b>Cadastrar</b></button>
    </ion-footer-bar>
</ion-view>
