<ion-view view-title="Convem">

    <link href="./css/avaliaVendedor.css" rel="stylesheet">
    <!-- Navbar (Override default) -->
    <ion-nav-bar class="bar-stable" hide-nav-bar="true">
    </ion-nav-bar><!-- End Navbar -->
    <!-- Content -->

    <div class="bar bar-subheader bar-stable">
        <h1 class="title">{{vendedor.nome}}</h1>
    </div>

    <ion-content class="has-subheader has-customFooter">
        <div class="text-center">
            <h4>Sua avaliação e muito importante para a melhora em nosso serviço</h4>
        </div>
        <br /><!-- Pula linha -->
        <div class="row">
            <div class="col-offset-10 col-center">
                Avaliação:
            </div>
            <div class="col-80">
                <ionic-ratings ratingsobj="ratingsObject"></ionic-ratings>
            </div>
        </div>
        <br /><!-- Pula linha -->
        
            <div class="row-top text-center">
                O Pedido foi entregue no prazo?
            </div>
            
            <div class="row-bottom">
                <div class="row">
                    <div class="col-33 col-offset-10">
                        <button class="button button-balanced button-large myButton {{radioClassSim}}" ng-click="sim()">Sim</button>
                    </div>
                    <div class="col-33 col-offset-10">
                        <button class="button button-assertive button-large myButton {{radioClassNao}}" ng-click="nao()">Não</button>
                    </div>
                </div>
                
            </div>
            <div class="col-10">
            </div>
        <br /><!-- Pula linha -->
        <hr /><!-- Faz uma linha na tela -->
        <div class="row">
            <strong>Itens Entregues:</strong>
        </div>
        <br /><!-- Pula linha -->
        <!-- Inicio da Lista de Entregas-->
        <ion-list>
            <ion-item ng-repeat="product in vendedor.products">
                <div class="row item-text-center">
                    <div class="col-10">
                        <img ng-src="./img/{{product.img}}" class="itemImage">
                    </div>
                    <div class="col-20">
                        <small>{{product.nome}}</small>
                    </div>
                    <div class="col-offset-34">
                        {{product.qt}} und <!-- Quantity Offered -->
                    </div>
                </div>
            </ion-item>
        </ion-list><!-- Fim da Lista de Entregas-->
       <!--  <button class="button button-full button-dark" ng-click="printJson()">Print JSON</button> -->
    </ion-content><!-- End Content -->

    <ion-footer-bar class="ION_FOOTER_HEIGHT_AVALIA bar bar-footer">
        <button class="button button-block button-positive BOTAO_HEIGHT_AVALIA" ng-click="enviar()"><b>Enviar</b></button>
    </ion-footer-bar>
</ion-view>
