<ion-view view-title="Convem">

    <link href="../css/contato.css" rel="stylesheet" />
    <!-- Navbar (Override default) -->
    <ion-nav-bar class="bar-stable">
        <ion-nav-buttons side="left">
            <button class="button button-icon icon ion-navicon" menu-toggle></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <!-- End Navbar -->
    <!-- Content -->
    <ion-content>
        <!-- Inicio da pagina contato original-->
        <!-- Havia um campo para preencher com duvidas, sugestoes, etc e um botao para envio dos tais-->
        <!--        <div class="col-center text-center">                                                                                                    -->
        <!--                                                                                                                                                -->
        <!--        </div>                                                                                                                                  -->
        <!--        <form name="form" ng-submit="ESCtrl.enviar(form.email.$modelValue)"   novalidate>                                                       -->
        <!--        <div class="col-center">                                                                                                                -->
        <!--            <label class="item item-input item-stacked-label">                                                                                  -->
        <!--                <span class="input-label"><i class="icon ion-chatbubble-working"></i> Fale conosco</span>                                       -->
        <!--                <textarea type="text" placeholder="Dúvidas, sugestões, reclamações?" ng-model="mensagem"></textarea>                            -->
        <!--            </label>                                                                                                                            -->
        <!--        </div>                                                                                                                                  -->
        <!-- </form>                                                                                                                                -->
        <!--        <div class="col-center">                                                                                                                -->
        <!--            <input type="submit" value="Enviar" ng-click="enviar(mensagem)" class="button button-full button-block button-positive" />          -->
        <!--        </div>        -->
        <div class="text-left MARGEM_CONTATO">
            <h4 class="AZUL_CONTATO">Dúvidas? Sugestoes? Reclamações?</h4>
        </div>
        <div class="text-center">
            <h4>Entre em contato conosco</h4>
        </div>
        <div class="ESPACO_EXTRA_CONTATO">
        </div>
        <div class="text-center">
            <h4>site: www.convem.me</h4>
            <h4>tel: +55(21)98801-1221</h4>
            <h4>e-mail: sac@convem.me</h4>
        </div>



    </ion-content>
    <!-- End Content -->
</ion-view>